@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: black;
    color: white;
  }

  .ce-block__content {
    color: white !important;
  }

  .ce-toolbar__content {
    color: white !important;
  }

  .ce-header {
    color: white !important;
  }

  .katex {
    color: white !important;
  }

  #katex-node {
    color: wheat !important;
  }

  .link-tool__content.link-tool__content--rendered{
    color: white !important;
    background: black !important;
  }

  .cdx-quote__text{
    color: white !important;
  }

  .cdx-quote__caption{
    color: white !important;
  }

  .cdx-attaches--with-file{
    background: black !important;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .cdx-attaches__title{
    color: white !important;
  }

  .cdx-attaches__size{
    color: rgb(185, 185, 185) !important;
  }

  .ce-inline-toolbar__toggler-and-button-wrapper{
    color: black !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
}

.font-sans {
  font-family: '__Noto_Sans_Thai_Looped_3d9ae4', '__Noto_Sans_Thai_Looped_Fallback_3d9ae4' !important;
}

/* editorJS */
.editor {
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
  /* background: #fff; */
  /* padding: 20px 30px;
  width: 60%;
  margin: 50px auto; */
}

#editorjs-container {
  /* background-color: #f9f9f9; */
  padding: 20px 30px;
  margin-bottom: 20px;
}

.ce-block__content {
  @apply prose
}

.cdx-block {
  padding: 0.2px !important;
}

.ce-toolbar__content,
.ce-block__content {
  max-width: unset;
  width: 92% !important;
}

.editorjs-codeFlask_Wrapper .editorjs-codeFlask_LangDisplay {
  max-width: unset;
  height: unset !important;
}

.indentHighlight {
  transition: background-color 0.4s;
}

.cdx-input.image-tool__caption {
  display: none !important;
}

.image-tool__image-picture {
  margin-bottom: 0px !important;
}

.codex-editor--narrow.link-tool__image {
  display: block!important;
}

.link-tool__image {
  width: 140px!important;
  height: 100px!important;
}

.link-tool {
  padding-top: 10px;
  padding-bottom: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}